body {
    height: 100vh;
    background: #f8f9fa;
}
.login-container {
    height: 100%;
}
.logo-section {
    background: #080e1c; /* You can change this color */
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-section img {
    max-width: 200px;
}
.right-logo img {
    max-width: 220px;
    max-height: 180px;
}
